.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 1em;

    background-color: var(--foregroundColor);
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 10px 14px;
    cursor: pointer;
}