---
import Header from "../components/React/Header/Header";

const backgroundColor = "hsla(0, 0%, 100%, 1)";
const foregroundColor = "hsla(0, 0%, 97%, 1)";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Nihal K - Developer | Javascript & MERN</title>
	</head>
	<body>
		<Header />
		<slot />
		<footer>Footer</footer>
	</body>
</html>

<style define:vars={{ backgroundColor, foregroundColor }}>
	html,
	body {
		height: auto;
		min-height: 100vh;
		width: 100vw;

		display: flex;
		flex-direction: column;

		overflow-x: hidden;

		background-color: var(--backgroundColor);
	}

	:global(*) {
		padding: 0;
		margin: 0;

		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	footer {
		text-align: center;
	}
</style>
